@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/**************************************
*** VARIABLES ***
*/
$background-grey: #e5e5e5;

/**************************************
*** RESET CSS ***
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: $background-grey;
}

.container {
	width: 1054px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	line-height: 1;
}

ul {
	list-style: none;
}

/**************************************
*** MIXINS ***
*/

/**************************************
*** HEADER ***
*/
#header {
	float: left;
	width: 100%;
	padding: 30px 0;

	.header-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.logo {
			width: 15%;

			img {
				width: 100%;
			}
		}

		.colect-point {
			img {
				float: left;
			}

			p {
				float: left;
			}
		}
	}
}
