/**************************************
*** VARIABLES ***
*/
/**************************************
*** RESET CSS ***
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.container {
  width: 1054px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  line-height: 1;
}

ul {
  list-style: none;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

/**************************************
*** MIXINS ***
*/
/**************************************
*** HEADER ***
*/
#header {
  float: left;
  width: 100%;
  padding: 40px 0;
}
#header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header .header-content .logo {
  width: 15%;
}
#header .header-content .logo img {
  width: 100%;
}
#header .header-content .colect-point {
  padding-top: 10px;
}
#header .header-content .colect-point a {
  font-size: 16px;
  font-weight: 700;
  color: #322153;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
#header .header-content .colect-point a img {
  margin-right: 10px;
}

/**************************************
*** MARKETPLACE ***
*/
#marketplace {
  float: left;
  width: 100%;
  padding: 40px 0;
  background-image: url("../images/home-background.svg");
  background-repeat: no-repeat;
  background-position: 35vw bottom;
  height: 100vh;
}
#marketplace .text-content {
  width: 52%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#marketplace .text-content h1 {
  font-size: 50px;
  color: #322153;
  font-family: "ubuntu", sans-serif;
  margin-bottom: 20px;
}
#marketplace .text-content h2 {
  width: 75%;
  font-size: 20px;
  font-weight: 500;
  color: #6c6c80;
  margin-bottom: 20px;
}
#marketplace .text-content a {
  width: 55%;
  background-color: #34cb79;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
#marketplace .text-content a img {
  float: left;
  padding: 20px;
  background-color: #2fb86e;
  margin-right: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#marketplace .text-content a p {
  margin-top: 23px;
}

/**************************************
*** MODAL ***
*/
#pontos-coleta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
#pontos-coleta.hide {
  display: none;
}
#pontos-coleta .coleta-form {
  width: 30%;
  text-align: center;
  position: relative;
}
#pontos-coleta .coleta-form h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
#pontos-coleta .coleta-form .cross {
  position: absolute;
  right: 0;
  top: 0;
}
#pontos-coleta .coleta-form ul {
  width: 100%;
}
#pontos-coleta .coleta-form ul li {
  width: 100%;
  margin-bottom: 10px;
}
#pontos-coleta .coleta-form ul li:first-child {
  margin-bottom: 30px;
}
#pontos-coleta .coleta-form ul li input {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: none;
  height: 50px;
  padding-left: 20px;
  color: #6c6c80;
}
#pontos-coleta .coleta-form ul li button {
  width: 30%;
  height: 50px;
  background-color: #34cb79;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/**************************************
*** MARKETPLACE ***
*/
#form-colect-point {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
#form-colect-point .form-content {
  width: 55%;
  background-color: #fff;
  padding: 40px 35px;
  border-radius: 8px;
}
#form-colect-point .form-content h1 {
  width: 40%;
  font-size: 32px;
  color: #322153;
  font-family: "ubuntu", sans-serif;
  margin-bottom: 40px;
}
#form-colect-point .form-content h2 {
  font-size: 22px;
  font-weight: 700;
  color: #322153;
  font-family: "ubuntu", sans-serif;
  margin-bottom: 20px;
}
#form-colect-point .form-content form .form-colect-list {
  margin-bottom: 50px;
}
#form-colect-point .form-content form .form-colect-list li {
  margin-bottom: 20px;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(2) .content-1 {
  width: 70%;
  margin-right: 4%;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(2) .content-2 {
  width: 26%;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(1), #form-colect-point .form-content form .form-colect-list li:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(1) .content-1, #form-colect-point .form-content form .form-colect-list li:nth-child(3) .content-1 {
  width: 48%;
  margin-right: 5%;
}
#form-colect-point .form-content form .form-colect-list li:nth-child(1) .content-2, #form-colect-point .form-content form .form-colect-list li:nth-child(3) .content-2 {
  width: 48%;
}
#form-colect-point .form-content form .form-colect-list li p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #6c6c80;
}
#form-colect-point .form-content form .form-colect-list li input {
  width: 100%;
  background-color: #f0f0f5;
  border-radius: 8px;
  border: none;
  height: 50px;
  padding-left: 20px;
  color: #a5a5a5;
}
#form-colect-point .form-content form .form-colect-list li select {
  width: 100%;
  background-color: #f0f0f5;
  border-radius: 8px;
  border: none;
  height: 50px;
  padding-left: 20px;
  color: #a5a5a5;
}
#form-colect-point .form-content form .itens-coleta .itens-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#form-colect-point .form-content form .itens-coleta .itens-heading h2 {
  margin-bottom: 0;
}
#form-colect-point .form-content form .itens-coleta .itens-heading h3 {
  font-size: 14px;
  font-weight: 500;
  color: #6c6c80;
}
#form-colect-point .form-content form .itens-coleta button {
  width: 30%;
  height: 50px;
  background-color: #34cb79;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 40px;
}
#form-colect-point .form-content form .itens-coleta .itens-list li {
  float: left;
  width: 31.3%;
  height: 190px;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  padding: 35px 0;
  cursor: pointer;
}
#form-colect-point .form-content form .itens-coleta .itens-list li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
}
#form-colect-point .form-content form .itens-coleta .itens-list li:nth-child(3n) {
  margin-right: 0;
}
#form-colect-point .form-content form .itens-coleta .itens-list li img,
#form-colect-point .form-content form .itens-coleta .itens-list li p {
  pointer-events: none;
}
#form-colect-point .form-content form .itens-coleta .itens-list li img {
  margin-bottom: 30px;
}
#form-colect-point .form-content form .itens-coleta .itens-list li p {
  font-size: 16px;
  font-weight: 400;
  color: #322153;
}

.hide {
  display: none;
}

#modal-confirmation {
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal-confirmation.hide {
  display: none;
}
#modal-confirmation .modal-content {
  text-align: center;
}
#modal-confirmation .modal-content img {
  margin-bottom: 20px;
}
#modal-confirmation .modal-content h2 {
  color: #fff;
}

/*# sourceMappingURL=cadastro.css.map */
