{% extends 'layout.html' %}

{% block title %}
    <title>Lista</title> 
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="css/lista.css" />
{% endblock styles %}

{% set headerId = "header" %}
{% block contentHeader %}
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="images/logo.svg" alt="#" />
            </div>

            <div class="colect-point">
                <a href="/">
                    <img src="images/back.svg" alt="#" />
                    Voltar para home
                </a>
            </div>
        </div>
    </div>
{% endblock contentHeader %}

{% set pointsId = "points" %}
{% block contentPoints %}
    <div class="container">
        <p><span>2 pontos</span> encontrados</p>

        <ul>
            <li>
                <img src="https://unsplash.it/600/400?image=1000" alt="#" />
                <h2>Colectoria</h2>
                <h4>Residuos Eletrônicos, Lâmpadas</h4>
                <h5>
                    Rio do Sul, Santa Catarina, Guilherme Gemballa,  Jardim América Nº 260
                </h5>
            </li>
            <li>
                <img src="https://unsplash.it/600/400?image=1050" alt="#" />
                <h2>Colectoria</h2>
                <h4>Residuos Eletrônicos, Lâmpadas</h4>
                <h5>
                    Rio do Sul, Santa Catarina, Guilherme Gemballa,  Jardim América Nº 260
                </h5>
            </li>
        </ul>
    </div>
{% endblock contentPoints %}
