<section id="pontos-coleta" class="hide">
    <form action="/lista" class="coleta-form">
        <img class="cross" src="images/x.svg" alt="" />
        <ul>
            <li>
                <h2>Pontos de coleta</h2>
            </li>
            <li>
                <input
                    type="text"
                    name="city"
                    placeholder="Digite a cidade"
                />
            </li>
            <li>
                <button type="submit">Buscar</button>
            </li>
        </ul>
    </form>
</section>